<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--        spring配置文件-->

<!--    基于配置文件将对象依托给IOC容器管理-->
    <bean id="testService" class="com.ioc.demo.service.impl.TestServiceImpl">
        <property name="testDao" ref="testDao"/>
    </bean>
    <bean id="testDao" class="com.ioc.demo.dao.impl.TestDaoImpl"/>

</beans>